# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
.env
.env.*

# Cache / tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# OS files
.DS_Store

# Docker
.dockerignore
Dockerfile*
docker-compose*

# Git
.git
.gitignore

# Build / Dist
build/
dist/

# Helm / Kubernetes / configs
charts/
secrets.dev.yaml
values.dev.yaml

# IDE
.vscode/
.vs/
.idea/

# Logs
*.log

# Python virtual env folders
venv/
ENV/
